body > div {
    background: linear-gradient(90deg, gray, lightgray);
    border: solid black 3px;
    margin: 1rem;
    display: flex;
    justify-content: center;
} 

p{
    border: solid black 1px;
    padding: 0.5em;
    width: 100px;
    height: 100px;
    margin: 1em;
    display: flex;
}
img{
    height: 150px;
    width: 150px;
    border: solid black;
    border-radius: 75px;
    margin: 1em;
}

h1{
    display: flex;
    justify-content: center;
    border: solid black 3px;
    background: linear-gradient(90deg, gray, lightgray);
}